<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-firebase-messaging" version="1.0.0">
    <name>Firebase Realtime Messaging</name>
    <description>Adds native support for Firebase's realtime messaging to your Cordova/PhoneGap apps.</description>
    <license>Apache 2.0</license>
    <keywords>firebase,cordova,messaging,realtime</keywords>
    <messagingor>Carlos "blakgeek" Lawton</messagingor>
    <repo>https://github.com/blakgeek/cordova-plugin-firebase-messaging.git</repo>
    <issue>https://github.com/blakgeek/cordova-plugin-firebase-messaging/issues</issue>

    <js-module src="www/firebaseMessaging.js" name="FirebaseMessagingPlugin">
        <clobbers target="FirebaseMessaging" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=6.0.0" />
        <engine name="cordova-android" version=">=4.0.0" />
        <engine name="cordova-plugman" version=">=4.2.0" />
    </engines>

    <!--<dependency id="cordova-plugin-firebase-core"/>-->

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FirebaseMessagingPlugin">
                <param name="ios-package" value="FirebaseMessagingPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/FirebaseMessagingPlugin.h" />
        <source-file src="src/ios/FirebaseMessagingPlugin.m" />
        <pod id="Firebase/Messaging" />
    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FirebaseMessagingPlugin">
                <param name="android-package" value="com.blakgeek.cordova.plugin.FirebaseMessagingPlugin" />
            </feature>
        </config-file>

        <source-file src="src/android/com/blakgeek/cordova/plugin/FirebaseMessagingPlugin.java"
            target-dir="src/com/blakgeek/cordova/plugin/" />
        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference" />
        <framework src="com.google.firebase:firebase-messaging:9+" />
    </platform>
</plugin>
